<a href="https://colab.research.google.com/github/kimheeseo/pytorch-RNN/blob/main/pytorch_RNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

import torch
import torch.nn as nn
import torch.optim as optim
import matplotlib.pyplot as plt

from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
df=pd.read_csv('/content/gdrive/MyDrive/code/stock.CSV')
df.head()

    open    high    low  close   volume
0  71.34  72.160  71.28  71.93  2664108
1  71.38  71.780  70.35  70.61  2022931
2  71.40  72.080  71.01  72.06  2024588
3  71.81  72.145  71.01  71.78  2981547
4  73.06  73.530  71.98  72.02  1966107

In [ ]:
scaler=MinMaxScaler()#MinMaxScaler로 최대최소 정규화
df=[['open','high','low','close','volume']]=scaler.ft_transform(df[['open','high','low','close','volume']])
df.head()